<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GoogleDriveFileListController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveFileListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveFileListController</servlet-name>
    <url-pattern>/googleDriveFileList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveFileDeleteController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveFileDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveFileDeleteController</servlet-name>
    <url-pattern>/googleDriveFileDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveFileUpdateController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveFileUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveFileUpdateController</servlet-name>
    <url-pattern>/googleDriveFileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveFileNewController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveFileNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveFileNewController</servlet-name>
    <url-pattern>/googleDriveFileNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SpotifyPlaylistsGetController</servlet-name>
    <servlet-class>aiss.controller.SpotifyPlaylistsGetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyPlaylistsGetController</servlet-name>
    <url-pattern>/spotifyPlaylistsGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SpotifyPlaylistNewController</servlet-name>
    <servlet-class>aiss.controller.SpotifyPlaylistNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyPlaylistNewController</servlet-name>
    <url-pattern>/spotifyPlaylistNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedditUserController</display-name>
    <servlet-name>RedditUserController</servlet-name>
    <servlet-class>aiss.controller.RedditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedditUserController</servlet-name>
    <url-pattern>/redditUser</url-pattern>
  </servlet-mapping>
  <!-- Spotify OAuth --> 
  <servlet>
    <description></description>
    <servlet-name>SpotifyAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Spotify</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyAuthController</servlet-name>
    <url-pattern>/AuthController/Spotify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Spotify</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/spotifyPlaylistsGet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Spotify</url-pattern>
  </servlet-mapping>
  <!-- Google Drive OAuth -->
  <servlet>
    <description></description>
    <servlet-name>GoogleDriveAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleDrive</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleDrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleDriveOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleDrive</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/googleDriveFileList</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleDrive</url-pattern>
  </servlet-mapping>
  <!-- Reddit OAuth -->
  <servlet>
    <description></description>
    <servlet-name>RedditOauth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.RedditOauth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Reddit</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/redditUser</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedditOauth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Reddit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedditAuthController</display-name>
    <servlet-name>RedditAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.RedditAuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedditAuthController</servlet-name>
    <url-pattern>/RedditAuthController</url-pattern>
  </servlet-mapping>
</web-app>